<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="main-heading">
				<h1> TLP+ </h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="text-wrapper">
				<h4> Tervetuloa TLP:n yritystietohallintaan </h4>
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="col-xs-12">
	    	<div class="form-wrapper">
			    <form>
			    	<div class="form-group">
			        	<input type="text" class="form-control" id="email" #email>
			        </div>
			        <div class="form-group">
			        	<input type="password" class="form-control" id="password" #password >
			        </div>
			        <button type="submit" class="btn btn-default btn-lime" (click)="onSubmit(email, password)"> Login </button>
			    </form>
		    </div>
	    </div>

	    <div class="col-xs-12">
	    	<p> Salasana unohtui? <span class="underline">Ota yhteyttä ylläpitoon</span> </p>
	    </div>
	    <div class="col-xs-12">
	    	<p> TLP © 2017</p>
	    </div>
    </div>

</div>
