@fa-font-path:   "../fonts";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

html, body {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333131;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  background-color: #f3f3f4;
}
  
.container {
  height: 100%;

  text-align: center;
}

.content {
  height: 100%;
}
 
/* YLEISET TYYLIT */

.hide {
  display:none;
}

.show {
  display:block;
}

.extra-gutter {
    margin-top:1em;
  }

.right-align {
    text-align: right;
  }

@media(min-width:769px) { 
    .row-eq-height {
      display:flex;
    }
}  

.capitalize {
  text-transform: uppercase;
}

div.customer-table {
    background-color: #fff;
    padding: 1em 1em 0em 1em;
    border-top: 2px solid #e7eaec;
}

div.customer-table > div.row {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

button.btn-tlp {
    background-color: #1ab394;
    color: #fff;
    font-weight: 600;
}

i {
   margin-right: 0.5em;
}

.color-navy {
  color: #1ab394;
}

.color-red {
  background-color: #cc0000;
}

.centered {
    text-align: center;
  }

/* APP TYYLIT, OMAAN TIEDOSTOON */

app {
  #wrapper {
    display:block;
   // background-color: #f3f3f4;;
    margin: 0 0 0 5em;
    height: 100%;
  }
  @media(min-width:767px) { 
     #wrapper {
        margin: 0 0 0 17em;
    }
  }

}
/* SIDE-BAR TYYLIT, OMAAN TIEDOSTOON */

side-bar {

  nav {
    height: 100%;
    background-color: #2f4050;
  }

  ul.sidebar-list {
    list-style: none;
    padding-left: 0;
  }

  ul.sidebar-list > li {
    background-color: #2f4050;
  }

  ul.sidebar-list > li i {
    margin-right: 1em;
    width: 15px;
    text-align: center;
  }


  ul.sidebar-list > li a {
    color: #a7b1c2;
    display:block;
    padding: 1em 2em 1em 2em;
  }

  ul.sidebar-list > li a:hover {
    color: #fff;
    background-color: #293846;
    text-decoration:none;
    cursor: pointer;
  }

  .user-lift {
    padding: 1em 0em 1em 0em;
    background-image: url("http://webapplayers.com/inspinia_admin-v2.6.2.1/css/patterns/header-profile.png");
  }

  img.rounded {
    border-radius: 50%;
  }

  img.portrait-img {
    height:48px;
    width:48px;
  }

  #left-navigation {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    position: fixed;
    //display:none;
    width:5em;
  }

  span.list-label {
    display:none;
  }

  @media(min-width:767px) { 
    #left-navigation {
      width:17em;
      display:block;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    } 
    span.list-label {
      display:inline-block;
    }

  }

  @media(max-width:767px) {
    li.user-lift {
      text-align:center;
    }
  }

  @-webkit-keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }  
  @keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
}


/* HEADER TYYLIT, OMAAN TIEDOSTOON */

top-header {


  div.header-wrapper {
    border-bottom: 1px solid #e7eaec;
    background: #fff;
  }

  div.header-gutter {
    padding: 1.5em 0 1.5em 0em;
  }

  a.toggle-btn {
    background-color: #1ab394;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    color: #fff;
  }

  a.toggle-btn:hover {
    cursor:pointer;
  }

}

/* LIFT TYYLIT, OMAAN TIEDOSTOON */

lift {
  
  display: block;
  height: 100%;
  div.lift-box {
    background-color: #fff;
    padding: 1em;
    border-top: 2px solid #e7eaec;
    height:100%;
  }

  div.lift-title {
    border-bottom: 1px solid #e7eaec;
  }

  div.lift-body > h3, h5 {
    margin:0;
  }

  div.lift-body {
    padding: 0.7em;
  }
}

/* STATE-TEMPLATE TYYLIT */

state-template {
  .extra-gutter {
    margin-top:1em;
  }
}

/* CUSTOMER-TABLE TYYLIT */

customer-table {

  div.table-header {
      border-bottom: 1px solid #e7eaec;  
  }

  .form-control {
    width:auto;
    display:inline-block;
    border-radius: 2px;
  }

  th, td {
    border: 1px solid #e7e7e7;
  }

  .table {
    margin-bottom: 0;
  }

  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  div.checkbox {
    display:inline-block;
    margin-right: 2em;
    margin-top: 0em;
  }

  select.input-full {
    width: 100% !important;
  }

  label {
    margin-top:5px;
  }

  span.badge {
    border-radius:2px;
    color: #fff;
    background-color: #1ab394;
    margin-right: 0.5em;
    cursor:pointer;
  }

  .loader {
      border: 16px solid #1ab394; 
      border-top: 16px solid #3498db; 
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      position:absolute;
      left: 50%;
      top: 3%;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
 
  .table-responsive {
    min-height: 200px;
    position:relative;
  }

  .fa-refresh, .fa-users {
    margin-right: 0.5em;
  }
}

/* LOGIN TYYLIT */

login {
  div.main-heading {
    margin-top: 8em;
    h1 {
        color: #e6e6e6;
        font-weight: 600;
        font-size: 6em;
    }
  }

  div.text-wrapper {
      margin-bottom: 2em;

     h4 {
      color: #676a6c;
    }
  }

  @media(min-width: 767px) {
    h1 {
       font-size: 10em;
    }

   div.form-wrapper {
      margin-left: 30%;  
      margin-right: 30%;
      margin-bottom: 2em;
      }
    }
 
    .btn-lime {
      background-color: #1ab394;
      border-color: #1ab394;
      color: #fff;
      width: 100%;
      border-radius: 2px;
    } 

    p {
      color: #676a6c;
    }

    .underline {
      text-decoration: underline;
    }
}
/* PAGINATION TYYLIT */
pagination {
  .active {
    border: 1px solid #1ab394!important;
  }

  ul.pagination {
    margin-top: 10px;
  }

  a {
    cursor: pointer;
        margin-left: 0 !important;
      -webkit-touch-callout: none;
    -webkit-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
  }
}

customer-home, users-home {
  div.lift-box {
    background-color: #fff;
    padding: 1em;
    border-top: 2px solid #e7eaec;
    height:100%;
  }

  div.add-box-heading {
    padding-bottom: 0.5em;
  }

  div.add-box-heading > h4 {
    display:inline;
  }

  div.add-box-body {
    padding-top: 0.5em;
    transition: opacity 1s ease-out;
  }
}

customer-home {

  .form-control {
    display:inline;
    width:auto;
  }

  .btn-tlp {
    vertical-align: 0;
  }


   div.table-header {
      border-bottom: 1px solid #e7eaec;  
  }

  th, td {
    border: 1px solid #e7e7e7;
  }

  .table {
    margin-bottom: 0;
  }

  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .table-responsive {
    min-height: 200px;
    position:relative;
    margin-top:1em;
  }

  button.btn-tlp {
    background-color: #cc0000;
  }

  .alert {
    margin-top: 1em;
  }
}

users-home {

  .form-control {
    border-radius: 1px;
  }

  label {
    color: #676a6c;
  }

  .table-header {
    border-bottom: 2px solid #e7eaec;
  }

  i.big-icon {
      font-size: 17em;
      color: #e5e6e7;
  }

  .custom-check {
    display:inline-block;
    width:2em;
    vertical-align: middle;
    margin-right: 2em;
  }

  div.inline-wrapper label {
    margin-right: 3em;
  }

  h4 {
    text-align:left;
    color: #676a6c;
  }

}