<nav id="left-navigation" #nav>
	<div class="sidebar-collapse">
		<ul class="sidebar-list">
			<li class="user-lift">
				<div class="centered">
					<img src="images/g.jpg" class="rounded portrait-img" />
					<a>
						<span class="list-label" #label>
						Admin 'The Big G'
					</span>
					</a>
				</div>
			</li>
			<li>
				<a routerLink="home">
					<i class="fa fa-home" aria-hidden="true"></i>
					<span class="list-label" #label>
						Etusivu
					</span>
				</a>
			</li>

			<li>
				<a routerLink="customers">
					<i class="fa fa-users" aria-hidden="true"></i>
					<span class="list-label" #label>
						Asiakkaat
					</span>
				</a>
			</li>

			<li>
				<a routerLink="users">
					<i class="fa fa-info" aria-hidden="true"></i>
					<span class="list-label" #label>
						Käyttäjät
					</span>
				</a>
			</li>
			<li>
				<a>
					<i class="fa fa-bar-chart" aria-hidden="true"></i>
					<span class="list-label" #label>
						Tietoa
					</span>
				</a>
			</li>
		</ul>
	</div>
</nav>