<div class="container-fluid extra-gutter">
	<div class="row">
		<div class="col-xs-12">
			<div class="lift-box">
				<h2 class="color-navy"> Käyttäjien hallinta </h2>
				<p>
					<i class="fa fa-info-circle" aria-hidden="true"></i> Lisää uusia käyttäjiä järjestelmään</p>
			</div>
		</div>
	</div>

	<div class="customer-table extra-gutter">
		<div class="row table-header">
			<div class="col-xs-12">
				<h4> Käyttäjän lisäys </h4>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-xs-12">
				<div class="form-group"><label>Nimi</label> <input type="text" placeholder="Nimi" class="form-control"></div>
				<div class="form-group"><label>Email</label> <input type="email" placeholder="Email" class="form-control"></div>
				<div class="form-group"><label>Salasana</label> <input type="text" placeholder="Salasana" class="form-control"></div>
				<div class="form-group">
					<label>Oikeudet</label>
					<div class="inline-wrapper">
						<label>Admin</label>
						<input type="checkbox" class="form-control custom-check">
						<label>Käyttäjä</label>
						<input type="checkbox" class="form-control custom-check">
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-xs-12">
				<div class="centered">
					<h4>Aktivoi käyttäjä järjestelmään, käyttäjä saa email vahvistuksen pyynnöstä.</h4>
					<a href="#"><i class="fa fa-sign-in big-icon"></i></a>
				</div>
			</div>
		</div>

	</div>

</div>